.top-menu-lead {
    padding: 0.5em;
    font-weight: bold;
    color: white;
    display: inline-block;
    float: left;
}

@media screen and (max-width: 770px) {
    .top-menu-lead {
        padding: 0;
        float: none;
    }
}
