.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 40%;
    background-color: #c7a880;
    border-radius: 5%;
    margin: 1em;
    padding: 1em;
}

.card form{
    padding: 10%;
}

.card img {
    width: 90%;
}

.card h1 {
    color: #45733f;
}
